
#main-nav{
  color: #FFFFFF;
  
  border-bottom: 1px solid #979797;
  display: flex;
  
  justify-content: space-between;
  // align-items: center;
  // padding:.5rem;
  h1{
    font-size: 28px;
    font-family: 'Antonio', sans-serif;
    font-weight: 500;
  }
  ul{

    max-width: 500px;
    // align-self: center;
    flex-grow:1;
    border: 3px solid red;
   
    display:flex;
    gap: 1rem;
    font-family: 'League Spartan', sans-serif;
    font-size: 11px;
    margin-right: 1rem;
    justify-content: center;
    
    li {
      // border-top: 2px solid blue;
      padding-top: 2px;
      color:#979797;
      list-style: none;
    }
    li:hover{
      color:#FFFFFF;
      cursor: pointer;
      border-top: 2px solid blue;
    }
  }
}
@media(max-width:700px){
  #main-nav{
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    h1 {
      align-self: center;
      padding: 1.5rem;
    }
    ul {
      gap: 1.5rem;
      padding: 1rem;
      
    }
}
}