header{
  color: white;
  display:flex;
  align-items: center;
  
  padding: 1rem;
  border-bottom: .8px solid #838391;
  justify-content: space-between;
  h1{
    font-size: 28px;
    font-family: 'Antonio', sans-serif;
    font-weight: 500;
  }
  ul {
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    display:flex;
    margin-right: 1rem;
    gap: 20px;
   
    li {
            
            color:#979797;
            list-style: none;
          }
          li:hover{
            color:#FFFFFF;
            cursor: pointer;
            
          }
  }
}
@media (max-width:1000px){
  header{
    flex-direction: column;
    gap: 2rem;
    padding:1.5rem;
  }
}













// @media(max-width:450px){
  
//   #main-nav{
//     color: #FFFFFF;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     flex-direction: row;
//     padding: 20px;
   
//       h1{
//     font-size: 28px;
//     font-family: 'Antonio', sans-serif;
//     font-weight: 500;
//   }
//   ul{
//     display:flex;
//     justify-content: space-evenly;
//     flex-wrap: wrap;
//     position: absolute;
//     top: 65px;
//     gap: 15px;
//     background-color: rgba(0,0,0,.5);
//     z-index: 1;
//     padding:1rem;
//     font-size: 15px;
//     font-family: 'League Spartan', sans-serif;

//     li{
//       list-style: none;
//     }
//   }
// }





// }



// // #main-nav{
// //   color: #FFFFFF;
  
// //   border-bottom: 1px solid #979797;
// //   display: flex;
  
// //   justify-content: space-between;
// //   // align-items: center;
// //   // padding:.5rem;
// //   h1{
// //     font-size: 28px;
// //     font-family: 'Antonio', sans-serif;
// //     font-weight: 500;
// //   }
// //   ul{

// //     max-width: 500px;
// //     // align-self: center;
// //     flex-grow:1;
// //     border: 3px solid red;
   
// //     display:flex;
// //     gap: 1rem;
// //     font-family: 'League Spartan', sans-serif;
// //     font-size: 11px;
// //     margin-right: 1rem;
// //     justify-content: center;
    
// //     li {
// //       // border-top: 2px solid blue;
// //       padding-top: 2px;
// //       color:#979797;
// //       list-style: none;
// //     }
// //     li:hover{
// //       color:#FFFFFF;
// //       cursor: pointer;
// //       border-top: 2px solid blue;
// //     }
// //   }
// // }
// // @media(max-width:700px){
// //   #main-nav{
// //     flex-direction: column;
// //     // justify-content: center;
// //     align-items: center;
// //     h1 {
// //       align-self: center;
// //       padding: 1.5rem;
// //     }
// //     ul {
// //       gap: 1.5rem;
// //       padding: 1rem;
      
// //     }
// // }
// // }

