/*
<ul id="planet-facts-list">
          <li>
            Rotation Time
            <h3>{planet.overview.rotation}</h3>
          </li>
*/


  
  #planet-facts-list{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    height: 128px;
    align-self: center;
    margin: 1rem;
      li{
      width: 255px;
      padding: 12px;
      display:flex;
      flex-direction: column;
      
      justify-content: center;
      border: 1px solid #D8D8D8;
      }
      h4{
        color: #d8d8d891;
        font-family: 'League Spartan', sans-serif;
        font-size: 11px;
        letter-spacing: .73px;
      }
      h3{
        font-size:40px;
        font-family: "Antonio";
        letter-spacing: -.75px;
        color:white;
      }
  }
@media(max-width: 950px){
  #planet-facts-list{
    height: 88px;
    li{
      width:165px;
      gap:10px;
    }
    h3{
      font-size: 24px;
    }
  }
}