
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#root{
  min-height: 100vh;
  max-width: 100vw;
  background-color: #070724;
  background-image: url(./../public/assets/background-stars.svg);
}
.App{
  width: 100vw;
  /* overflow-x: hidden; */
}
